* {
  font-family:'Open Sans';
}

.landing {
	text-align: left;
}

h3 {
	font-weight: bold;
	font-size: 120%;
}

.landing .landing-title h1 {
	font-family: 'Molengo';
	margin-top: 0.5em;
	font-size: 1000%;
}

.navbar-brand {
    height: 30%;
    width: 30%;
}

.glyphicon {
    font-size: 25px;
}

.description {
	margin-top: 1em;
   	word-wrap: break-word;
   	font-size: 150%;
}

.icon-bar {
	color: black;
}

.navbar-default {
	background-color: white;
	border-color: white;
  	box-shadow: none;
}

.details {
	margin-top: 6em;
}

.details .info {
	margin-bottom: 2em;
	font-size: 120%;
}

.btn {
	background-color: #80bd9e;
	text-transform: uppercase;
	border: #80bd9e;
	color: white;
	padding: 18px 28px;
}

.btn a {
	color: white;
}

.get-started {
	margin-top: 3em;
}

body {
	padding-bottom: 80px;
}
