* {
  font-family:'Open Sans';
}

@media (min-width: 701px) {
	.big-title h1 {
		font-family: 'Molengo';
		font-size: 12em;
	}
}

.big-title h1 {
	font-family: 'Molengo';
	font-size: 9em;
}

body {
	padding-bottom: 80px;
}

.btn {
	background-color: #80bd9e;
	text-transform: uppercase;
	border: #80bd9e;
	color: white;
	padding: 18px 28px;
}

.description {
	margin-top: 1em;
	word-wrap: break-word;
	font-size: 150%;
}

.details {
	margin-top: 4em;
}

.details .info {
	margin-bottom: 2em;
	font-size: 120%;
}

.get-started {
	margin-top: 1em;
}

.get-started-btn a {
	color: white;
}

h3 {
	font-weight: bold;
	font-size: 120%;
}

.landing {
	text-align: left;
}

.navbar-default {
	background-color: white;
	border-color: white;
  	box-shadow: none;
}
