* {
  font-family:'Open Sans';
}

.big-title h1 {
	font-family: 'Molengo';
	font-size: 7em;
}

body {
	padding-bottom: 80px;
}

.btn {
	background-color: #80bd9e;
	text-transform: uppercase;
	border: #80bd9e;
	color: white;
	padding: 18px 28px;
	margin-top: 2em;
}

.details .col-xs-12 {
	margin-top: 2em;
}

.description {
	margin-top: 1em;
	word-wrap: break-word;
	font-size: 150%;
}

.details .big-icon {
	font-size: 8em;
	color: #80bd9e;
}

.details .info .contact a {
	color: black;
	text-decoration: none;
}

.details .info .contact a:hover {
	font-weight: bold;
	font-size: 1.05em;
}

.details .info {
	font-size: 120%;
}

.details .info a {
	color: #80bd9e;
}

.get-started {
	margin-top: 1em;
}

.get-started-btn a {
	color: white;
	text-decoration: none;
}

.get-started-btn a:hover {
	font-size: 1.1em;
}

h3 {
	font-weight: bold;
	font-size: 120%;
}

.landing {
	text-align: left;
}

.navbar-default {
	background-color: white;
	border-color: white;
  	box-shadow: none;
}

@media (min-width: 600px) {
	.big-title h1 {
		font-family: 'Molengo';
		font-size: 10em;
	}

	.details .col-xs-12 {
		margin-top: 3em;
	}
}


@media (min-width: 768px) {
	.big-title h1 {
		font-family: 'Molengo';
		font-size: 12em;
	}
}
